appName: postgres
replicaCount: 1

image:
  repository: postgres
  tag: "15-alpine"

persistence:
  enabled: true
  size: 10Gi

service:
  port: 5432
  type: ClusterIP

postgresql:
  auth:
    database: myapp
    username: appuser
    password: changeme

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 256Mi